@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: 500px;">
            <div class="carousel-item active">
                <img src="~/images/img-1.jpg" class="d-block w-100" alt="...">
            </div>
        </div> 
    </div>



<div class="text-center">
    <h1 class="display-4" style="font-weight:bold;margin-top:30px;">Welcome to Mekina.Com</h1>
</div>
<div style="margin-top:70px;">
</div>
